<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exercice1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Exercice1.Properties.Settings>
            <setting name="Repertoire" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckNbFichiers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckNbFichiersCs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckFichierLong" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckListFichiers" serializeAs="String">
                <value>True</value>
            </setting>
        </Exercice1.Properties.Settings>
    </userSettings>
</configuration>